html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* rainbow-light */
body {
    background: -webkit-linear-gradient(left, #FF6666, #FFCC66, #FFFF66, #66FF66, #33CCFF, #6699FF, #CC66FF ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #FF6666, #FFCC66, #FFFF66, #66FF66, #33CCFF, #6699FF, #CC66FF ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #FF6666, #FFCC66, #FFFF66, #66FF66, #33CCFF, #6699FF, #CC66FF ); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #FF6666, #FFCC66, #FFFF66, #66FF66, #33CCFF, #6699FF, #CC66FF ); /* Standard syntax (must be last) */
}

#rainbow-dark {
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
}

.slippy-nav {
  z-index: 100;
  width: 100%;
  font-size: 14px;
  background: rgba(255,255,150,.90);
  color: red;
}

.slippy-nav ul {
  margin: 0 auto;
  width: 80%;
  line-height: 41px;
}

.slippy-nav ul li{
  display: inline;
  padding: 0px 2%;
} 

.slippy-nav ul li a{
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #888;
}

#container {
  background: white;
  width: 100%;
  margin: 0px auto 3em auto;
}

#sidebar{
  float: right;
  width: 20%;
  padding-right: 15%;
}

#post {
  min-height: 15em;
  width: 45%;
  padding-left:15%;
  padding-bottom: 3em;
}

body, textarea, input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
}

#name, #message {
  border: none;
}

h1 {
  margin: 0px;
  padding-top: 4em;
  padding-bottom: .5em;
  background: #FFFF99;
}

h3 {
  margin: 0px;
  padding-top: 0;
  padding-bottom: 2em;
}

textarea {
  width:  100%;
  height: 4em;
  margin: 1em auto;
}

.figure {
  overflow: hidden;
  height: 240px;
}

img {
  width: 100%;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 20px solid #FFCCFF;
	border-bottom: 20px solid white;
	display:inline-block;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid #FFFF99;
	display:inline-block;
}
