html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body {
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
}

#container {
  background: white;
  width: 95%;
  margin: 0px 2em 2em 2em;
}

#post {
  min-height: 15em;
  width: 65%;
  margin: 0px auto 0px auto;
  padding-bottom: 3em;
}

body, textarea, input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #33CC33;
}

h1 {
  margin-top: 0px;
  padding-top: 3em;
  background: #FFFF99;
  color: #FF99FF;
}

textarea {
  width:  100%;
  height: 4em;
  margin: 1em auto;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 20px solid #FF99FF;
	display:inline-block;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid #99FF99;
	display:inline-block;
}
