html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* rainbow-light */
body {
    background: -webkit-linear-gradient(left, #FF6666, #FFCC66, #FFFF66, #66FF66, #33CCFF, #6699FF, #CC66FF ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #FF6666, #FFCC66, #FFFF66, #66FF66, #33CCFF, #6699FF, #CC66FF ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #FF6666, #FFCC66, #FFFF66, #66FF66, #33CCFF, #6699FF, #CC66FF ); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #FF6666, #FFCC66, #FFFF66, #66FF66, #33CCFF, #6699FF, #CC66FF ); /* Standard syntax (must be last) */
}

#rainbow-dark {
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
}

.slippy-nav {
  z-index: 100;
  width: 100%;
  font-size: 14px;
  background: rgba(255,255,150,.90);
  color: red;
}

.slippy-nav ul {
  margin: 0 auto;
  padding: 0 auto;
  line-height: 41px;
  width: 80%;
}

.slippy-nav ul li{
  display: inline;
  padding: 0px 3.3%;
} 

.slippy-nav ul li a{
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #222222;
}

#container {
  background: white;
  width: 100%;
  margin: 0px auto 3em auto;
}

#sidebar{
  float: right;
  width: 20%;
  padding-right: 15%;
}

#post {
  min-height: 15em;
  width: 66%;
  padding-left:17%;
  padding-bottom: 3em;
}

body, textarea, input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #333333;
}

body a:visited { 
    color: SlateBlue;
}

#name, #message {
  border: none;
}

h1 {
  margin: 0px;
  padding-top: 4em;
  padding-bottom: .5em;
  background: #FFFF99;
}

h3 {
  margin: 0px;
  padding-top: 0;
  padding-bottom: 2em;
}

textarea {
  width:  100%;
  height: 4em;
  margin: 1em auto;
}

/* for box. fancyindex */
table, table a {
  color : hotpink;
}

table {
  background-color: lightgray;
  margin: 20px 0px;
  width: 80%;
}
/* end */

.figure {
  overflow: hidden;
  height: 240px;
}

img {
  width: 100%;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 20px solid #FFCCFF;
	border-bottom: 20px solid white;
	display:inline-block;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid #FFFF99;
	display:inline-block;
}

/*for youtube thumbnail fast loader */
.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    /*-webkit-filter: brightness(75%);*/
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}
/* end youtube */

/* fractal header */
#params {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  /*border: solid 2px; */
  /*border-color: #000000;*/
  background-color:rgba(255,255,255,0.5);
  padding: 8px;
  position: absolute;
  top: 10px;
  right: 10px
}
